%h1
   = 'Hello World'
%p
   = 'Coming from articles#index'

= link_to "New Article", new_article_path

%table
   %thead
      %tr
         %th Title
         %th Author
         %th Content
         %th Actions

   %tbody
      - @articles.each do |a|
         %tr
            %td
               = a.title
            %td
               = a.author
            %td
               = a.content.truncate(100)
            %td
               = link_to "Show", article_path(a.id)
               |
               = link_to "Edit", edit_article_path(a.id)
               |
               = link_to "Destroy", article_path(a), method: :delete, data: {confirm: "Are you sure?"}